            <div id="menu">
                  <ul style="margin-top:0px;">
                    <li class="act"><span>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</span></li>
                    <li><span>@Html.ActionLink("Queue", "Queue", "Ticket", new { Area="Tickets" }, null)</span></li>
                    <li><span>@Html.ActionLink("Create Ticket", "Create", "Ticket", new { Area="Tickets" }, null)</span></li>
                    <li><span>@Html.ActionLink("Edit Ticket", "Edit", "Ticket", new { area = "Tickets" }, null)</span></li>
                    <li><span>@Html.ActionLink("Ticket Details", "Details", "Ticket", new { area = "Tickets" }, null)</span></li>
                  </ul>
            </div>

            <form action="" id="search-form">
              <div class="wrapper">
                <input type="text" value="" />
                <input type="submit" value="" id="search-submit" />
              </div>
            </form>
