@if(Request.IsAuthenticated) {
   @* <text>@BetterTaskList.Helpers.UserHelpers.GetUserFullName(User.Identity.Name) </text>*@
    
    <li>@Html.ActionLink("My Account", "Welcome", "Account", new { area = "" }, null) </li>
    <li><a href="http://bettertasklist.com/Help">Help</a></li>
    <li>@Html.ActionLink("Log Off", "LogOff", "Account", new { area = "" }, null)</li> 
   
}
else
{
    <li>@Html.ActionLink("Sign in", "LogOn", "Account", new { area = "" }, null)</li> 
    <li>@Html.ActionLink("register", "Register", "Account", new { area = "" }, null)</li>
}
