@model BetterTaskList.Models.TicketComment

<li id="comment-@Model.TicketCommentId" class="comment alt">
		
		<div class="comment-author">
            <a href="@Url.Action("Profile", "Home", new { area = "", id = Model.TicketCommentSubmitterUserId })" >
                <img class="avatar" src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(Model.TicketCommentSubmitterUserId, "48x48"))" height="48" width="48" alt="avatar"/>
            </a>  
			
            <cite> 
                @{var commentReplyName = "CommentReply" + Model.TicketCommentId ;}
                @Html.ActionLink(@Model.CommentSubmitterFullName, "Profile", "Home", new { area = "", id = Model.TicketCommentSubmitterUserId }, new { Style = "text-decoration:none", @Name = commentReplyName })
            </cite> 
            
            <span>says:</span>	 	
         
         </div>

		<div class="comment-meta commentmetadata">
			@Model.CommentPostedTimeFrame
	    </div>

        <p>@Html.Raw(Model.TicketCommentDetails)</p> 

</li>

   
  

