@model BetterTaskList.Models.TicketComment

<li id="comment-@Model.TicketCommentId" class="comment byuser comment-author-admin bypostauthor odd alt depth-2">
		
		<div class="comment-author vcard">
            <a href="@Url.Action("Profile", "Home", new { area = "", id = Model.TicketCommentSubmitterUserId })" >
                <img class="avatar avatar-48 photo" src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(Model.TicketCommentSubmitterUserId, "48x48"))" height="48" width="48" alt="avatar"/>
            </a>  
			
            <cite class="fn"> 
                @{var commentReplyName = "CommentReply" + Model.TicketCommentId ;}
                @Html.ActionLink(@Model.CommentSubmitterFullName, "Profile", "Home", new { area = "", id = Model.TicketCommentSubmitterUserId }, new { Style = "text-decoration:none", @Name = commentReplyName })
            </cite> 
            
            <span class="says">says:</span>	 	
         
         </div>
         <!-- end .comment-author -->

		<div class="comment-meta commentmetadata">
			@Model.CommentPostedTimeFrame
	    </div>
        <!-- end .comment-meta -->

		<div class="comment-content">
			  <p>@Html.Raw(Model.TicketCommentDetails)</p> 
		</div>
        <!-- end .comment-content -->

</li>

   
  

