@model BetterTaskList.Models.Ticket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_ContentSideBar.cshtml";
}

<div id="content">

    <h2 class="entry-title">Ticket #@Model.TicketId - @Model.TicketSubject</h2>
    
    <div class="post-info">
        <span title="@Model.TicketLastUpdated" class="date published time">@Model.TicketLastUpdated</span>  by 
        <span class="author vcard">
            <span class="fn">
                @Html.ActionLink(BetterTaskList.Helpers.UserHelpers.GetUserFullName(Model.TicketCreatorUserId), "Profile", "Home", new { area = "", id = Model.TicketCreatorUserId }, new { @Style = "text-decoration:none" })
            </span>
        </span>
    </div>

    <div class="entry-content">
            @Html.Raw(Model.TicketDescription)
    </div>

    <div class="author-box">
        <div>
            <img height="70" width="70" class="avatar avatar-70 photo" src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(Model.TicketCreatorUserId, "128x128"))" title="" alt="" />
            <strong>About @BetterTaskList.Helpers.UserHelpers.GetUserFullName(Model.TicketCreatorUserId)</strong>
            <br />
            @Html.Raw(BetterTaskList.Helpers.UserHelpers.GetUserProfile(Model.TicketCreatorUserId).AboutMe)
        </div>
    </div>
            
    <div class="post-info" style="text-align:right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.TicketId })
        or
        <a href="#" id="ToggleResolveTicket">Resolve</a>
    </div>

    <div class="clear"></div>


    @if (!string.IsNullOrEmpty(@Model.TicketResolutionDetails))
    {
    <div style=" width:609px; float:left; padding:0px 0px 4px 4px; margin-bottom:10px; background-color:#FCF0BA; border:1px solid #E8E1B5;">
            
            <div style="float:left; padding:4px 4px 0px 2px;">
            <a href="@Url.Action("Profile", "Home", new { area = "", id = Model.TicketResolvedByUserId })" >
                <img src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(Model.TicketResolvedByUserId, "128x128"))" height="64px" width="64px" alt="action avatar" />
            </a> 
            </div>

            <div style="float:right; background-color:#000; color:#FFF; padding:2px;">
            TICKET CLOSED
            </div>

            <p>@Html.Raw(Model.TicketResolutionDetails)</p>
           
    </div>
    }

    <div class="clear"></div>

    <div id="ResolveTicket" style="display:none;">
    <div id="tabs">
	    <ul>
		    <li class="ui-tabs-selected ui-state-active"><a href="#tabs-1">Resolve</a></li>
	    </ul>
	    <div id="tabs-1">
                @Html.Partial("_TicketResolution")
	    </div>
    </div>
    </div>

    @Html.Partial("_PostComment")

    @Html.Partial("_DisplayComment")


</div>

<div id="sidebar" class="sidebar widget-area">
    <div style="width:269px;">@Html.Partial("_TicketAttachments")</div>
</div>

<script>
    $(function () {
        $("#tabs").tabs();
        $("#SubmitComment").button();
        $("#SubmitResolution").button();

        $( "#ToggleResolveTicket" ).click(function() {
            $("#ResolveTicket").toggle("Slide",null, 500);
			return false;
        });

    });
</script>

