@{ ViewBag.Title = "Better Task List"; }

<div style="width:615px; padding-right:8px; float:left;">

    @Html.Partial("_ShareContent")


    @foreach (var feed in new BetterTaskList.Models.ActivityFeedRepository().Feed())
    {
        <div style="padding-left:32px; padding-top:8px; padding-bottom:8px;">

        <div style="float:left; height:50px; width:50px;">
            <img src="@Url.Content(feed.FeedCreator128x128AvatarUrl)" height="50px" width:"50px" alt="avatar"/>
        </div>

        <div style="float:left; padding: 6px 0px 3px 12px; font-size:12px; width:80%; font-size:10px;">
            <b>@Html.ActionLink(@feed.FeedCreatorFullName, "Index", "Home")</b>
        </div>

        <div style="float:left; padding-left:12px; width:80%; font-size:10px;">
        @feed.FeedActionDetails <a href="@feed.FeedMoreUrl">more..</a>
         <br />  
        <div style="color:#999999;">@feed.FeedPostedTimeFrame</div>  
        </div>
       

        <div class="clear"></div>

        </div>
        
        //Comment reply #1
        <div style="margin-left:92px; padding-top:8px; margin-bottom:8px; background-color:#EDEFF4;">

        <div style="float:left; height:32px; width:32px;">
            <img src="@Url.Content(feed.FeedCreator128x128AvatarUrl)" height="32px" width="32px" alt="avatar"/>
        </div>

        <div style="float:left; padding: 6px 0px 3px 12px; font-size:12px; width:80%; font-size:10px;">
            <b>@Html.ActionLink(@feed.FeedCreatorFullName, "Index", "Home")</b>
        </div>

        <div style="float:left; padding-left:12px; width:80%; font-size:10px;">
        @feed.FeedActionDetails <a href="@feed.FeedMoreUrl">more..</a>
         <br />  
        <div style="color:#999999;">@feed.FeedPostedTimeFrame</div>  
        </div>

        <div class="clear"></div>

        </div>
        
        //Comment reply #2
        <div style="margin-left:92px; padding-top:8px; padding-bottom:8px; background-color:#EDEFF4;">

        <div style="float:left; height:32px; width:32px;">
            <img src="@Url.Content("~/Content/Avatars/Default_32x32.png")" alt="avatar"/>
        </div>

        <div style="float:left; padding: 6px 0px 3px 12px; font-size:12px; width:80%; font-size:10px;">
            <b>@Html.ActionLink(@feed.FeedCreatorFullName, "Index", "Home")</b>
        </div>

        <div style="float:left; padding-left:12px; width:80%; font-size:10px;">
        @feed.FeedActionDetails <a href="@feed.FeedMoreUrl">more..</a>
         <br />  
        <div style="color:#999999;">@feed.FeedPostedTimeFrame</div>  
        </div>

        <div class="clear"></div>

        </div>
        
    }
</div>

<div style="float:left; width:265px; padding-left:8px; background:black;">
welcome to the jungle
</div>

<div class="clear"></div>