@{
    ViewBag.Title = "Better Task List";
}

<div style="width:615px; padding-right:8px; float:left;">

    @Html.Partial("_ShareContent")


    @foreach (var feed in new BetterTaskList.Models.ActivityFeedRepository().Feed())
    {
        <div style="border-bottom: 1px solid #CCC; padding-top:8px; padding-bottom:8px;">

    <div id="actionAvatar" style="float:left; padding-right:4px;">
        <img src="@Url.Content("~/Content/Images/Comments.png")" alt="action avatar" />
    </div>

    <div style="float:left; font-size:12px;">
        @Html.ActionLink(@feed.FeedCreatorFullName, "Index", "Home") <b>@feed.FeedActionDescription</b>  at <b>@feed.FeedActionTimeStamp.ToShortTimeString()</b>. <a href="@feed.FeedMoreUrl">More..</a>
    </div>
    
    <div class="clear"></div>

    <div style="float:left; width:32px; padding-top:6px;">
        <img src="@Url.Content("~/Content/Images/vcard_32x32.png")" alt="avatar"/>
    </div>

    <div style="float:left; padding-left:14px; padding-top:6px; width:90%; ">
        @feed.FeedActionDetails
    </div>

   <div class="clear"></div>

   </div>
    }
</div>

<div style="float:left; width:265px; padding-left:8px; background:black;">
welcome to the jungle
</div>

<div class="clear"></div>