@model BetterTaskList.Models.Profile
           
@{
    ViewBag.Title = "Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:615px; padding-right:8px; float:left;">

    <div style="float: left; width: 128px; border-right: 1px solid #B3B3B3; margin-right:2px; ">
        <img style="display:block;" src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(Model.UserId, "64x64"))" alt="avatar" height="128px" width="128px" />
    </div>


    <div style="float:left; ">

    <div style="float:left;">
        @Html.TextBox("Status", null, new { @Style ="height:28px; font-size:14px; width:414px;"})
    </div>

    <div style="float:left; padding-left:4px; padding-bottom:2px;">
        <input type="button" id="Share" value="Share" />
    </div>

</div>
    <div style="font-size:10px; padding-left:38px; padding-bottom:14px;">
        @Html.ActionLink("Messages", "messages", "Home", new { style = "text-decoration:none;" }) | @Html.ActionLink("Events", "Events", "Home", new { style = "text-decoration:none;" }) | @Html.ActionLink("News Feed", "NewsFeed", "Home", new { style = "text-decoration:none;" }) | @Html.ActionLink("Coworkers", "Coworkers", "Home", new { style = "text-decoration:none;" })
    </div>

<div style="padding-left: 4px; padding-top: 8px; padding-bottom: 8px;">
    <div style="float: left; height: 50px; width: 50px;">
    <a href="@Url.Action("Profile", "Home", new { area = "", id = Model.UserId })" >
        <img src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(Model.UserId, "64x64"))" alt="avatar" height="50px" width="50px" />
    </a>
    </div>
    <div style="float: left; padding: 6px 0px 3px 12px; font-size: 12px; width: 80%; font-size: 10px;">
      @*  @{var commentid = "comment" + comment.TicketCommentId;}
        <b>@Html.ActionLink(@comment.CommentSubmitterFullName, "Profile", "Home", new {area = "", id = comment.TicketCommentSubmitterUserId}, new {@Style = "text-decoration:none", @Name = commentid })</b>*@
    </div>
    <div style="float: left; padding-left: 12px; width: 80%; font-size: 10px;">
           
           @*grab the value of the request string*@
        @*   @{var cid = Convert.ToInt32(Request.QueryString["cid"]);}

            @if (cid == comment.TicketCommentId) {<b> @comment.TicketCommentDetails</b>} else { @comment.TicketCommentDetails }*@

        <br />
        @*@{var replyToComment = "ReplyToComment" + @comment.TicketCommentId;} *@
        <div style="color: #999999;">@*@comment.CommentPostedTimeFrame*@ - <a class="comment_link" style="color:#999999; text-decoration:none; " href="#" id="@*@comment.TicketCommentId*@">comment</a>
        </div>
    </div>
    <div class="clear">
    </div>
</div>


</div>

<div style="float:left; width:265px; padding-left:8px;">
welcome to the jungle
</div>


<script src="@Url.Content("~/Scripts/jquery.watermark.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(function () {
        $("#Status").watermark(" Write something...", "watermark");
        $("#Share").button();
    });

</script>