@model BetterTaskList.Models.Ticket
 
     
@foreach (var comment in new BetterTaskList.Models.Tickets.TicketCommentRepository().GetTicketComments(Model.TicketId))
{
//Ticket comments   
<div style="padding-left: 4px; padding-top: 8px; padding-bottom: 8px;">
    <div style="float: left; height: 50px; width: 50px;">
        <img src="@Url.Content("~/Content/Avatars/Default_48x48.png")" alt="avatar"/>
    </div>
    <div style="float: left; padding: 6px 0px 3px 12px; font-size: 12px; width: 80%; font-size: 10px;">
        <b>@Html.ActionLink(@comment.CommentSubmitterFullName, "Index", "Home")</b>
    </div>
    <div style="float: left; padding-left: 12px; width: 80%; font-size: 10px;">
        @comment.TicketCommentDetails
        <br />
        @{var commentLocatorId = "ToggleCommentReply" + @comment.TicketCommentId;}
        @{var commentReplyLocator = "CommentReply" + @comment.TicketCommentId;} 
        <div style="color: #999999;">@comment.CommentPostedTimeFrame - <a class="comment_link" style="color:#999999; text-decoration:none; " href="#" id="@comment.TicketCommentId">comment</a>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
     
//Comment replys            
foreach (var reply in new BetterTaskList.Models.Tickets.TicketCommentRepository().GetTicketCommentReplys(comment.TicketCommentId))
{
                                                                                                                                      
    <div style="margin-left: 66px; padding-top: 8px; margin-bottom: 8px; background-color: #EDEFF4;">
        <div style="float: left; height: 32px; width: 32px;">
            <img src="@Url.Content("~/Content/Avatars/Default_32x32.png")" alt="avatar"/>
        </div>
        <div style="float: left; padding: 6px 0px 3px 12px; font-size: 12px; width: 80%; font-size: 10px;">
            <b>@Html.ActionLink(@reply.CommentSubmitterFullName, "Index", "Home")</b>
        </div>
        <div style="float: left; padding-left: 12px; width: 80%; font-size: 10px;">
            @reply.TicketCommentDetails
            <br />
            <div style="color: #999999;">@reply.CommentPostedTimeFrame</div>
        </div>
        <div class="clear">
        </div>
    </div>
    
 
}


using (Html.BeginForm("PostCommentReply", "Ticket", new { area = "Tickets", id = Model.TicketId, ticketCommentId = comment.TicketCommentId }, FormMethod.Post))
{		
    
        <div class="clear"> </div>
        
             
        <div id="@commentReplyLocator" style="float: left; margin-left: 61px; padding-bottom: 10px; padding-top: 12px; display:none;">
            <div style="float: left; padding-right: 4px;">
                <img src="@Url.Content("~/Content/Avatars/Default_32x32.png")" alt="action avatar" />
            </div>
            <div style="float: left;">
                @Html.TextBox("CommentReplyDetails", null, new { @style = "width:505px; border: 1px solid #CCCCCC; height:26px;" })
            </div>
            <div style="float: left; text-align: right; width: 541px; padding-left: 4px; padding-bottom: 2px;">
                <input type="submit" id="SubmitCommentReply" value="Post" />
            </div>
        </div>

        <div class="clear">
        </div>


    <script src="@Url.Content("~/Scripts/jquery.watermark.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#CommentReplyDetails").watermark("Enter your comment", "watermark");
            $("#SubmitCommentReply").button();

            $(".comment_link").click(function () {
                var element = $(this);
                var I = element.attr("id");

                $("#CommentReply" + I).toggle("Slide", null, 500);
                return false;
            });

        });
    </script>

    
}

}
