
@using (Html.BeginForm("Upload", "Account", new { area = "" }, FormMethod.Post))
{ 
<div id="uploader" style="width:265px;">
<p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
</div>
}


<script type="text/javascript">
    // Convert divs to queue widgets when the DOM is ready
    $(function () {

        $("#uploader").plupload({
            // General settings//
            // runtime is executed in the order it is listed flash,html5,browserplus, etc... //
            // thus far silverlight and flash has the best stability rate
            runtimes: 'silverlight,flash,html5,browserplus,gears,html4',
            url: 'http://www.bettertasklist.com/Account/Upload/',
            max_file_size: '1000mb',
            max_file_count: 5, // user can add no more then 20 files at a time
            chunk_size: '1mb',
            unique_names: true,
            multiple_queues: true,

//            // Resize images on clientside if we can
//            res//ize: { width: 320, height: 240, quality: 90 },

//            // Rename files by clicking on their titles
//            //rename: true,

//            // Sort files
//            //sortable: true,

           // Specify what files to browse for
           filters: [
			{ title: "Image Files", extensions: "jpg,gif,png" },
			{ title: "Zip Files", extensions: "zip,avi" },
            { title: "Microsoft Office Files", extensions: "doc,docx,xls,xlsx,ppt,pptx" },
            { title: "PDF Documents", extensions: "pdf" },
		],

//            // Flash settings
           flash_swf_url: 'http://www.bettertasklist.com/Scripts/plupload/plupload.flash.swf',

//            // Silverlight settings
           silverlight_xap_url: 'http://www.bettertasklist.com/Scripts/plupload/plupload.silverlight.xap'
        });

        // Client side form validation
//        $('form').submit(function (e) {
//            var uploader = $('#uploader').plupload('getUploader');

//            // Validate number of uploaded files
//            if (uploader.total.uploaded == 0) {
//                // Files in queue upload them first
//                if (uploader.files.length > 0) {
//                    // When all files are uploaded submit form
//                    uploader.bind('UploadProgress', function () {
//                        if (uploader.total.uploaded == uploader.files.length)
//                            $('form').submit();
//                    });

//                    uploader.start();
//                } else
//                    alert('You must at least upload one file.');

//                e.preventDefault();
//            }
//        });

    });
</script>

<link rel="stylesheet" href="@Url.Content("~/Scripts/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css")" type="text/css" />

<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/plupload.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/jquery.ui.plupload/jquery.ui.plupload.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/plupload.html5.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/plupload.flash.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/plupload.silverlight.js")"></script>

<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/plupload.html4.js")"></script>
@*<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/plupload.gears.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/plupload/plupload.browserplus.js")"></script>*@
