@model BetterTaskList.Models.Ticket

@using (Html.BeginForm()) {

    @Html.ValidationSummary(true)

    <div style="width:615px; padding-right:8px; float:left;">

        @Html.Partial("_DraftTickets")

        <div>
            <div style="float:left; width:46px; padding-top:6px; font-size:11px; text-align:right;">Subject:</div>
            <div style="float:left; padding-bottom:6px;">@Html.TextBoxFor(m => Model.TicketSubject, new { @style = "width:566px" })</div>
        </div>
    
        <div>
           <div style="float:left; width:46px; padding-top:6px; font-size:11px; text-align:right;">To:</div>
           <div style="float:left; padding-bottom:6px;">@Html.TextBoxFor(m => Model.TicketOwnersEmailList, new { @style = "width:566px" })</div>
        </div>

        @*<div id="ticketCcTrigger" style="text-align:right;">   
           <a href="javascript:void(0);" id="toggle">cc</a> 
        </div> *@   

        <div>
             <div style="float:left; width:46px; padding-top:6px; font-size:11px; text-align:right;">Desc:</div>
             <div style="float:left; padding-bottom:6px;">@Html.TextAreaFor(m => Model.TicketDescription, new { @style = "width:563px; border: 1px solid #CCCCCC; height: 122px;" })</div>
        </div>

        <div id="ticketCc">
                 <div style="float:left; width:46px; padding-top:6px; font-size:11px; text-align:right;">Cc:</div>
                 <div style="float:left; padding-bottom:6px;">@Html.TextBoxFor(m => Model.TicketEmailNotificationList, new { @style = "width:566px;" })</div>
            </div>

        <div class="clear"></div>

        <div style="padding-bottom:6px; padding-bottom:20px;">
            
            <div style="float:left; padding-left:46px;">
               @Html.Partial("_TicketPriority", Model)
            </div>
            
            <div style="text-align:right;">
                @Html.Partial("_TicketDueDate")
            </div>

        </div>

        <div class="clear"></div>

        <div style="text-align:right;">
            <input id="Save" type="submit" value="Submit" /> or @Html.ActionLink("Cancel", "Index", "Home", new {area=""}, null)
        </div>

    </div>

    <div style="float:left; width:265px; padding-left:8px; background:black;">
    welcome to the jungle
    </div>  
    
}

<script src="@Url.Content("~/Scripts/jquery.autocomplete.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/jquery.autocomplete.css")" rel="stylesheet" type="text/css" />
	
<script type="text/javascript">
     $(function () {

         $("#Save").button();

         $("#check").button();

//         $("#ticketCcTrigger").click(function () {
//             $("#ticketCc").toggle("slide");
//         });

         $("#TicketDueDate").datepicker();

         // Previously the TaskEmailNotificationList was hardcoded (below) 
         // var emailList = ["uyeda@lao.ten.fujitsu.com", "benavidesa@rio.ten.fujitsu.com", "brett.turner@rio.ten.fujitsu.com", "mguerrero@rio.ten.fujitsu.com", "kumano@lao.ten.fujitsu.com", "emercado@rio.ten.fujitsu.com", "mkerner@mio.ten.fujitsu.com", "xavier@rio.ten.fujitsu.com", "dvega@rio.ten.fujitsu.com", "ealvarado@rio.ten.fujitsu.com", "maguinaga@rio.ten.fujitsu.com", "mtorres@rio.ten.fujitsu.com", "romeo@rio.ten.fujitsu.com", "warellano@lao.ten.fujitsu.com", "gmartinez@rio.ten.fujitsu.com"]
         // BUT found this solution which allowed me to call an action result method which returned me the list. No more hard coding
         // http://flux88.com/blog/jquery-auto-complete-text-box-with-asp-net-mvc/ 

         $("#TicketEmailNotificationList").autocomplete('../MembersEmailList', { multiple: true, mustMatch: true, multipleSeparator: ";", autoFill: true });

         $("#TicketOwnersEmailList").autocomplete('../MembersEmailList', { multiple: true, mustMatch: true, multipleSeparator: ";", autoFill: true });


     });
</script>   


@*<script src="@Url.Content("~/Scripts/tiny_mce/tiny_mce.js")" type="text/javascript"></script>
<script type="text/javascript">
    tinyMCE.init({
        mode: "textareas",
        theme: "simple"
    });
</script>
*@