@model BetterTaskList.Models.Ticket

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:615px; padding-right:8px; float:left;">

    <h3 class="extra"><span><span>Ticket #@Model.TicketId - @Model.TicketSubject</span></span></h3>

    <div style="padding:10px 4px; margin-bottom:10px; background-color:#F5F3E5; border:1px solid #CC0A0C;">
         
            <div style="float:left; padding-right:4px;">
                <img src="@Url.Content("~/Content/Avatars/Default_48x48.png")" alt="action avatar" />
            </div>

            <p style=" padding-left:10px; font-size:12px;">
               @Model.TicketDescription
            </p>
            <div style="text-align:right">
               @Html.ActionLink("Edit", "Edit", new { id = Model.TicketId })
            </div>
    </div>


    <div class="clear"></div>


    @if (!string.IsNullOrEmpty(@Model.TicketResolutionDetails))
    {
    <div style=" width:606px; float:left; padding:10px 4px; margin-bottom:10px; background-color:#FCF0BA; border:1px solid #E8E1B5;">
            
            <div style="float:left; padding-right:4px;">
                <img src="@Url.Content("~/Content/Avatars/Default_48x48.png")" alt="action avatar" />
            </div>

            <p>@Model.TicketResolutionDetails</p>
           
    </div>
    }

    <div class="clear"></div>

    <div id="tabs">
	    <ul>
            <li><a href="#tabs-1">Comment</a></li>
		    <li><a href="#tabs-2">Resolve</a></li>
		    <li><a href="#tabs-3">Attachments (7)</a></li>
	    </ul>
	    <div id="tabs-1">
                @Html.Partial("_PostComment")
	    </div>
	    <div id="tabs-2">
                @Html.Partial("_TicketResolution")
	    </div>
	    <div id="tabs-3">
		    <p> @Html.ActionLink("Link to File #1", "Index", "Home", new {area=""}, null) 
                @Html.ActionLink("Link to File #2", "Index", "Home", new { area = "" }, null)  
                @Html.ActionLink("Link to File #3", "Index", "Home", new { area = "" }, null)
                @Html.ActionLink("Link to File #4", "Index", "Home", new { area = "" }, null)  
                @Html.ActionLink("Link to File #5", "Index", "Home", new { area = "" }, null)
                @Html.ActionLink("Link to File #6", "Index", "Home", new { area = "" }, null)  
                @Html.ActionLink("Link to File #7", "Index", "Home", new { area = "" }, null)
            </p>
	    </div>
    </div>

    @Html.Partial("_DisplayComment")


</div>

<div style="float:left; width:265px; padding-left:8px; background:black;">
welcome to the jungle
</div>

<div class="clear"></div>




<script>
    $(function () {
        $("#tabs").tabs();
        $("#SubmitComment").button();
        $("#SubmitResolution").button();
    });
</script>