
@{
    ViewBag.Title = "Queue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="width: 615px; padding-right: 8px; float: left;">

@{var ticketCreators = new BetterTaskList.Models.Tickets.TicketRepository().GetTicketCreators(); }

 @if(ticketCreators.Count() > 0)
    {   
    
     foreach(var creator in ticketCreators){

       <div style=" margin-bottom:10px;">
            <div id="actionAvatar" style="float: left; padding-right: 4px;">
                <img src="@Url.Content(BetterTaskList.Helpers.UserHelpers.GetUserAvatarUrl(creator, "128x128"))" height="64px" width="64px" alt="action avatar" />
            </div>
            
            <div style="float: left; font-size: 12px;">
                 @Html.ActionLink(BetterTaskList.Helpers.UserHelpers.GetUserFullName(creator), "Index", "Home")
             </div>
    
            <div style="float:left; border-bottom: 1px solid #CCC; padding-top: 8px; padding-bottom: 22px; width: 88%;">

            @foreach(var ticket in new BetterTaskList.Models.Tickets.TicketRepository().GetNewTickets(creator)) 
            {
                <div style="float: left; padding-left: 14px; padding-top: 6px;">
                  #@ticket.TicketId: @Html.ActionLink(@ticket.TicketSubject, "Details", "Ticket", new {id = ticket.TicketId}, null)
                </div>
            }
              </div>
              <div class="clear"></div>
         </div>
     }
     
    }else { <text>No tickets exist at the moment... but you see that button on the right... click on it.</text>}

</div>


<div style="float: left; width: 270px;">
    <div style=" text-align:right;">
        @Html.ActionLink("New Ticket", "Create", "Ticket", new { id = "NewTicket"})
    </div>
    <div style="width:269px;">@Html.Partial("_DraftTickets")</div>
</div>

<script type="text/javascript">
    $(function () {
        $("#NewTicket").button();
    });
</script>
