@model BetterTaskList.Models.Profile
           
           
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><span><span>Personalize your account</span></span> </h3>

<div style="float:left; padding-bottom:15px;">
@using (Html.BeginForm()) {
    
    @Html.ValidationSummary(true)

    <div style="float:left; width:282px; padding-right:22px;"> 
        <div class="editor-label">
            @Html.Label("First name")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.FirstName, new { @Style="width:282px;" })
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
    </div>

    <div style="float:left; width:282px; padding-right:22px;">
        <div class="editor-label">
            @Html.Label("Last name")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.LastName, new { @Style="width:282px;" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
    </div>
    
    
    <div style="float:left; width:282px; padding-right:6px;" >
        <div class="editor-label">
            @Html.Label("Work Phone Number")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.WorkPhoneNumber, new { @Style = "width:282px;" })
            @Html.ValidationMessageFor(model => model.WorkPhoneNumber)
        </div>
    </div>
    
    <div style="float:left; width:282px; padding-top:10px;">
        <div class="editor-label">
            @Html.Label("Cell Phone Number (optional)")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.CellPhoneNumber, new { @Style = "width:282px;" })
            @Html.ValidationMessageFor(model => model.CellPhoneNumber)
        </div>
    </div>

    <div class="clear"></div>
    
    <div style="padding-top:13px; padding-left:20px; text-align:right;">
            <input type="submit" id="Next" value="Save" /> @*or @Html.ActionLink("Skip", "Index")*@
    </div>
}

</div>

<h3><span><span>Customize your profile picture</span></span> </h3>

@using (Html.BeginForm("ChangePicture", "Account", FormMethod.Post, new { enctype = "multipart/form-data"}))
{

<div style="float:left; width:300px; padding-bottom:15px;">

 <img src="@Url.Content(Model.Picture128x128Url)" alt="@Model.FullName" />
 
 <input type="file" name="file1" id="file1" style="width:100%;" />
         <div style="padding-left:40px;">
         <input type="submit" id="Uploads" value="Save" />
         </div>
</div>

}


<h3><span><span>Change your password</span></span> </h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
    
    <div>

        <div style="float:left; width:282px; padding-right:22px;"> 
            <div class="editor-label">
                @Html.Label("Current password")
            </div>
            <div class="editor-field">
                @Html.TextBox("CurrentPassword", null, new { @Style="width:282px;" })
            </div>
        </div>

        <div style="float:left; width:282px; padding-right:22px;"> 
            <div class="editor-label">
                @Html.Label("New password")
            </div>
            <div class="editor-field">
                @Html.TextBox("NewPassword", null, new { @Style="width:282px;" })
            </div>
        </div>

        <div style="float:left; width:282px; padding-right:6px;"> 
            <div class="editor-label">
                @Html.Label("Confirm new password")
            </div>
            <div class="editor-field">
                @Html.TextBox("ConfirmPassword", null, new { @Style="width:282px;" })
            </div>


        </div>

        <div class="clear"></div>


        <div style=" text-align:right; padding-top:13px; padding-left:4px;">
        <input type="submit" id="ChangePassword" value="Change" />
        </div>


    </div>
}


<script type="text/javascript">
    $(function () {
        $("#Next").button();
        $("#Upload").button();
        $("#ChangePassword").button();
    });
</script>